body{
    background-color: black;
    overflow-x: hidden;
}

body>main:first-child>h1{
    color: white;
}

body>main:first-child>h1>span{
    color: red ;
}

body>main:first-child>aside{
    position: fixed;
    /*top: 23px;*/
    top: 10px;
    /*right: 450px;*/
    right: 50px;
    padding: 5px;
    border-radius: 8px;
    background: #E9CDCD;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body>main:first-child>aside>nav a {
    margin: 5px;
}

body>main:first-child>aside a {
    display: block;
    margin-bottom: 10px; /* Adjust spacing between menu items */
    text-decoration: none;
    color: black;
}

body>main:first-child>aside>nav{
    text-decoration: none;
    color: #E9CDCD;
    display: flex;
    align-items: center;
    /*right: 0;*/
    left: 0;
}

body>main:first-child>h4{
    margin-left: 5px;
    color: white;
    font-family: 'Istok Web', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body>main:first-child>p{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    font-family: 'Istok Web', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #E9CDCD;
    font-size: 50px;
    /*text-align: center;*/
}

body>main:first-child>p>span{
    transition-timing-function: linear;
    transition-property: background-color;
    transition-duration: 10s;
    color: red;
}

body>main:first-child>p>span:hover{
    color: #B724BA;
}

/*//social media*/
.card {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);

}
/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
    background-color: #B724BA;
    transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #37A6FF;
    transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #092032;
    transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #21B544;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    /*width: 17px; */
    width: 25px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*//socail media*/

#main1{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;

}



/*2nd main*/

body>main:nth-child(2){
    position: relative;
    background: rgba(93, 91, 91, 0.45);
    width: 100vw;
    height: 100vh;
}

body>main:nth-child(2)>h1{
    font-family: 'Istok Web', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: white;
    line-height: normal;
    margin-left: 600px;
}

body>main:nth-child(2)>h1>span{
    color: red;
    text-decoration-line: underline;
    text-decoration-color: red;
    line-height: normal;
}

#full{
    width: 500px;
    margin-left: 400px;
    text-decoration-line: underline;
    margin-top: 0;
    font-family: 'Istok Web', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: white;
}

body>main:nth-child(2)>h4{
        position: absolute;
        font-family: 'Istok Web', sans-serif;
        font-family: 'Open Sans', sans-serif;
        color: white;
        width: 600px;
        max-width: calc(100% - 250px);
        min-height: 200px;
        padding: 10px;
        font-size: 20px;
        margin-left: 480px;
        line-height: 1.5;

}

#aboutpic{
    position: absolute;
    top: 40px;
    left: 200px;
    border-radius: 10px 0 0 10px ;
}

#h3email{
    width: 500px;
    margin-left: 490px;
    margin-top: 270px;
    font-family: 'Istok Web', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
}

#Email{
    width: 400px;
    font-size: 25px;
    border-radius:5px 0 0 5px ;
    margin-left: 490px;

}

#fontawersome_email{
    position: absolute;
    margin-left: 850px;
    /*margin-left: 810px;*/
    margin-top: -34px;
}

#hireme{
    font-family: Gideon Roman;
    position: absolute;
    width: 100px;
    height: 35px;

}

/*3rd main*/

body>main:nth-child(3){
    position: relative;
    background: black;
    width: 100vw;
    height: 100vh;
}

body>main:nth-child(3)>h2{
    text-align: center;
    color: #F4E0E0;
    font-family: Istok Web;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

body>main:nth-child(3)>#se1{
    position: absolute;
    width: 200px;
    height: fit-content;
    background: rgba(233, 205, 205, 0.45);
    margin-left: 70px;
    margin-top: 50px;
    border-radius: 20px;
}

#studentof{
    margin-left: -40px;
    margin-top: 10px;
    color: #F9ECEC;
    font-family: Istok Web;
    text-align: center;
    /*margin-right: 10px;*/
    text-decoration-line: underline;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /*white-space: nowrap;*/
}

#bsc {
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}

#inst{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}

#imgijse{
    width: 100px;
    margin-left: 120px;
    margin-bottom: 50px;
}



body>main:nth-child(3)>#se2{
    position: absolute;
    width: 200px;
    height: fit-content;
    background: rgba(233, 205, 205, 0.45);
    margin-left: 350px;
    margin-top: -40px;
    border-radius: 20px;
}

#secondoryedcation{
    margin-left: -40px;
    margin-top: 10px;
    color: #F9ECEC;
    font-family: Istok Web;
    text-align: center;
    /*margin-right: 10px;*/
    text-decoration-line: underline;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#bsc2{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}

#inst2{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}

#imgeholycross1{
    width: 200px;
    margin-left: 350px;
    margin-top: -100px;

}



body>main:nth-child(3)>#se3{
    position: absolute;
    width: 200px;
    height: fit-content;
    background: rgba(233, 205, 205, 0.45);
    margin-left: 700px;
    /*margin-top: -40px;*/
    border-radius: 20px;
}

#primayedu{
    margin-left: -40px;
    margin-top: 10px;
    color: #F9ECEC;
    font-family: Istok Web;
    text-align: center;
    /*margin-right: 10px;*/
    text-decoration-line: underline;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#bsc3{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}

#ins3{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}

#primayholy{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}

#imgprimayholy{
    width: 200px;
    margin-left: 700px;
    margin-top: -60px;
}


body>main:nth-child(3)>#se4{
    position: absolute;
    width: 200px;
    height: fit-content;
    background: rgba(233, 205, 205, 0.45);
    margin-left: 980px;
    /*margin-top: -40px;*/
    border-radius: 20px;
}


#iwmsstudent{
    margin-left: -40px;
    margin-top: 10px;
    color: #F9ECEC;
    font-family: Istok Web;
    text-align: center;
    /*margin-right: 10px;*/
    text-decoration-line: underline;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#bsc4{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.3;
}


#ins4{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}

#imgiwms{
    width: 200px;
    margin-left: 1020px;
    margin-top: -60px;
}


/*..4th main*/


body>main:nth-child(4){
    position: relative;
    width: 100vw;
    height: 100vh;
}

body>main:nth-child(4)>h2{
    text-align: center;
    color: #F4E0E0;
    font-family: Istok Web;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

#htmlpng{

    width: 200px;
    margin-left: 100px;
    margin-top: 20px;
}
#csspng{

    width: 200px;
    margin-top: -110px;
    margin-left: 550px;
}
#illustratorpng{

    width: 200px;
    margin-left: 950px ;
    margin-top: -110px;
}
#photshoppng{

    width: 200px;
    margin-top: 50px;
    margin-left: 100px;

}
#figmapng{

    width: 200px;
    margin-top: -110px;
    margin-left: 550px;
}
#jspng{

    width: 200px;
    margin-top: -110px;
    margin-left: 950px;
}
#mysqlpng{

    width: 200px;
    margin-top: 50px;
    margin-left: 550px;
}


body>main:nth-child(5){
    position: relative;
    width: 100vw;
    height: 100vh;
}

body>main:nth-child(5)>#experience{
    text-align: center;
    color: #F4E0E0;
    font-family: Istok Web;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}


#wokingex{
    width: 500px;
    height: 250px;
    border: 5px solid #E9CDCD;
    border-radius: 10px 10px 0 0 ;
}

#workingtop{
    margin-left: -40px;
    margin-top: 10px;
    color: #F9ECEC;
    font-family: Istok Web;
    margin-left: 10px;
    /*margin-right: 10px;*/
    text-decoration-line: underline;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#haveworkd{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}



#workingex2{
    width: 500px;
    height: 250px;
    border: 5px solid #E9CDCD;
    border-radius: 10px 10px 0 0 ;
    margin-left: 650px;
    margin-top: -260px;
}


#audiotop{
    margin-left: -40px;
    margin-top: 10px;
    color: #F9ECEC;
    font-family: Istok Web;
    margin-left: 10px;
    /*margin-right: 10px;*/
    text-decoration-line: underline;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#bsc5{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.3;
}

#ins5{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}



#workingex3{
    width: 500px;
    height: 200px;
    border: 5px solid #E9CDCD;
    border-radius: 10px 10px 0 0 ;
    margin-left: 320px;
    margin-top: 10px;
}

#profswtop{
    margin-left: -40px;
    margin-top: 10px;
    color: #F9ECEC;
    font-family: Istok Web;
    text-align: center;
    /*margin-right: 10px;*/
    text-decoration-line: underline;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#bsc6{
    /*margin-right: 40px;*/
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.3;
}

#ins6{
    /*margin-right: 40px;*/
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #F9ECEC;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}


