@media (max-width: 768px) {
    body {
        background-color: #000;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    body>main:nth-child(2)>h1 {
        font-size: 30px; /* Reduce font size for h1 */
        margin-left: 200px; /* Adjust the margin-left as needed */
    }

    body>main:nth-child(2)>h4 {
        font-size: 16px; /* Reduce font size for h4 */
        margin-left: 180px; /* Adjust the margin-left as needed */
    }


    #full {
        width: 200px;
        margin-left: 200px;
    }

    #aboutpic {
        left: 100px;
    }

    #h3email {
        width: 300px;
        margin-left: 240px;
        margin-top: 150px;
    }

    #Email {
        width: 200px;
        font-size: 20px;
        margin-left: 240px;
    }
}