body{
    background-color: black;
    overflow-x: hidden;
}

body>main:first-child>h1{
    color: white;
}

body>main:first-child>h1>span{
    color: red ;
}

body>main:first-child>aside{
    z-index: 1000;
    position: fixed;
    /*top: 23px;*/
    top: 10px;
    /*right: 450px;*/
    right: 50px;
    padding: 5px;
    border-radius: 8px;
    background: #E9CDCD;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body>main:first-child>aside>nav a {
    margin: 5px;
}

body>main:first-child>aside a {
    display: block;
    margin-bottom: 10px; /* Adjust spacing between menu items */
    text-decoration: none;
    color: black;
}

body>main:first-child>aside>nav{
    text-decoration: none;
    color: #E9CDCD;
    display: flex;
    align-items: center;
    /*right: 0;*/
    left: 0;
}

body>main:first-child>h4{
    margin-left: 5px;
    color: white;
    font-family: 'Istok Web', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body>main:first-child>p{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    font-family: 'Istok Web', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #E9CDCD;
    font-size: 50px;
    /*text-align: center;*/
}

body>main:first-child>p>span{
    transition-timing-function: linear;
    transition-property: background-color;
    transition-duration: 10s;
    color: red;
}

body>main:first-child>p>span:hover{
    color: #B724BA;
}

/*//social media*/
.card {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);

}
/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
    background-color: #B724BA;
    transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #37A6FF;
    transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #092032;
    transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #21B544;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    /*width: 17px; */
    width: 25px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*//socail media*/

#main1{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

/*//////////////////////////////////////////////AssignmentCSS////////////////////////////////////////*/


#menubtn {
    display: none !important;
    color: white;
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
}

